[paths]
source = openskill

[run]
branch = true
source =
    openskill
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_lines =
    pragma: no cover

    def __repr__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:
