[tool.towncrier]
package = "openskill"
package_dir = "openskill"
directory = "changes"
filename = "CHANGELOG.rst"
issue_format = "`#{issue} <https://github.com/OpenDebates/openskill.py/issues/{issue}>`_"
type = [
    { name = "Breaking Changes",            directory = "breaking",     showcontent = true },
    { name = "Deprecation",                 directory = "deprecation",  showcontent = true },
    { name = "Features",                    directory = "feature",      showcontent = true },
    { name = "Bugfixes",                    directory = "bugfix",       showcontent = true },
    { name = "Documentation Improvements",  directory = "doc",          showcontent = true },
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra --strict-markers --ignore=docs/conf.py --ignore=setup.py --ignore=benchmark --ignore=ci --ignore=.eggs --doctest-modules --doctest-glob=/*.py --tb=short"
norecursedirs = [
	".git",
	".tox",
	".env",
	"dist",
	"build",
	"migrations"
]
testpaths = [
    "tests"
]
python_files = [
	"test_*.py",
	"*_test.py",
	"tests.py"
]
doctest_optionflags = "NUMBER"

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.8"
strict = true

[project]
name = "openskill"
version = "5.1.1"
authors = [
    {name = "Vivek Joshy", email = "vivek@opendebates.net"},
]
maintainers = [
  {name = "Vivek Joshy", email = "vivek@opendebates.net"}
]
description = "Multiplayer Rating System. No Friction."
readme = "README.md"
requires-python = "~=3.8"
keywords = ["ranking", "trueskill", "statistics", "rating", "math", "rank"]
license = {text = "MIT"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
	"Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy"
]

[project.urls]
Documentation = "https://openskill.me/en/stable"
Changelog = "https://github.com/OpenDebates/openskill.py/blob/main/CHANGELOG.rst"
Funding = "https://github.com/sponsors/OpenDebates"
Source = "https://github.com/OpenDebates/openskill.py"
Tracker = "https://github.com/OpenDebates/openskill.py/issues"

[tool.pdm.dev-dependencies]
docs = [
    "sphinx~=7.0",
    "nbsphinx~=0.9",
    "pygments~=2.15",
    "shibuya~=2024.1",
    "ipykernel~=6.25",
    "myst-parser~=2.0",
    "sphinx-intl~=2.1",
    "sphinx-favicon~=1.0",
    "sphinx-copybutton~=0.5",
    "sphinx-autoapi~=3.0.0",
    "sphinxext-opengraph~=0.8",
    "sphinxcontrib-bibtex~=2.6.1",
    "sphinx-autodoc-typehints~=1.24.0",
]
tests = [
    "tox~=4.6",
    "mypy~=1.4.1",
    "pytest~=7.3",
    "coverage~=7.2",
    "pytest-cov~=4.0"
]
release = [
    "twine~=4.0",
    "build~=1.0",
    "isort~=5.13",
    "black[jupyter]~=24.1",
    "codecov~=2.1",
    "towncrier~=23.6",
    "bump-my-version~=0.9.2",
]
benchmarks = [
    "rbo~=0.1",
    "rich~=13.5.2",
    "pandas~=2.0",
    "polars~=0.18",
    "trueskill~=0.4",
    "jsonlines~=3.1",
    "scikit-learn~=1.3",
    "prompt-toolkit~=3.0",
]

[tool.pdm.build]
includes = ["openskill/", "openskill/py.typed", "LICENSE", "README.md", "CHANGELOG.rst"]
is-purelib = true

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
